# Node.js
backend/node_modules/
backend/package-lock.json

# Flutter
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.metadata
frontend/build/
frontend/pubspec.lock

# OS files
.DS_Store
Thumbs.db
